# Build / simulation outputs
sim_build/
.simvision/
xrun.log
xcelium.d/
xrun_history
*.history
*.args
*.log

# Snapshots
xrun_snapshot/
INCA_libs/

# Python artifacts
__pycache__/
*.pyc

# Cocotb results
results.xml

# VSCode / Editor junk
.vscode/
.idea/

